h1, h2, h3, h4 {
    text-transform: uppercase;
}

/* test drop shadow */

h1, {
  text-shadow: 0.05em 0.075em 0 rgba(0, 1, 0, 0.1);
}

h3 {
  font-family: "Averia Serif Libre";
  font-weight: 400;
}

/* changed size of navigation menu */ 
.dropdown-menu,
nav#navbar-main li.nav-item {
  font-size: 1.2rem;
}

.navbar-light {
  font-family: Averia Serif Libre,sans-serif;
  font-weight: 300;
  line-height: 1.25;
  text-rendering: optimizeLegibility;
}

.navbar-brand {
    font-size: 1.8rem;
    font-family: Fredericka the Great;
}

.card-title, .card-subtitle{
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 400;
}

.powered-by {
  display: none;
}

div[class^="ftn-"], div[class*=" #ftn-"] {
  margin-top: -200px;
  padding-top: 200px;
}

body {  
  font-weight: 300;
}

.navbar-brand {
  font-weight: 400;
}

.navbar .navbar-nav .nav-link.active {
  font-weight: 400!important;
  color: #e6553c!important;
}

.tag-cloud {
  text-transform: capitalize;
}

.card h4 {
  font-weight: 400;
}

/* test import of iconmoon icons*/

@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?uxjef0');
  src:  url('fonts/icomoon.eot?uxjef0#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?uxjef0') format('truetype'),
    url('fonts/icomoon.woff?uxjef0') format('woff'),
    url('fonts/icomoon.svg?uxjef0#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-line-icons_expanded:before {
  content: "\e900";
  color: #808184;
}


/* Ticking Dial Icon */
.tick {
  -webkit-animation: tick steps(4) 2s infinite normal;
  -moz-animation: tick steps(4) 2s infinite normal;
  -o-animation: tick steps(4) 2s infinite normal;
  animation: tick steps(4) 2s infinite normal;
}

@-moz-keyframes tick { 100% { -moz-transform: rotate(360deg); } }

@-webkit-keyframes tick { 100% { -webkit-transform: rotate(360deg); } }

@keyframes tick { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }