h1, h2, h3, h4 {
    text-transform: uppercase;
}

h3 {
  font-family: "Averia Serif Libre";
  font-weight: 400;
}

.dropdown-menu,
nav#navbar-main li.nav-item {
  font-size: 1.2rem;
}

.navbar-light {
  font-family: Averia Serif Libre,sans-serif;
  font-weight: 400;
  line-height: 1.25;
  text-rendering: optimizeLegibility;
}

.navbar-brand {
    font-size: 1.8rem;
    font-family: Fredericka the Great;
}

.card-title, .card-subtitle{
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 400;
}

.powered-by {
  display: none;
}

div[class^="ftn-"], div[class*=" #ftn-"] {
  margin-top: -200px;
  padding-top: 200px;
}

body {  
  font-weight: 300;
}

.navbar-brand {
  font-weight: 400;
}

.navbar .navbar-nav .nav-link.active {
  font-weight: 400!important;
  color: #e6553c!important;
}